<footer class="footer">
    <div class="footer-container">
        <div class="text-footer">
            <span>
                © Copyright Veronica Penno
            </span>
        </div>
        <div class="social-icons">
            <a class="social">
                <i class="bi bi-facebook"></i>
            </a>
            <a class="social">
                <i class="bi bi-instagram"></i>
            </a>
            <a class="social">
                <i class="bi bi-youtube"></i>
            </a>
            <a class="social">
                <i class="bi bi-twitter"></i>
            </a>
            <a class="social">
                <i class="bi bi-twitch"></i>
            </a>
        </div>
    </div>
</footer>
