<!-- NOW PLAYING -->
<div class="title mb-4 mar-top">
    <h3>Now Playing</h3>
</div>
<div>
    <app-now-playing></app-now-playing>
</div>

<!-- Popular -->
<div class="title my-4">
    <h3>Popular</h3>
</div>
<div>
    <app-popular></app-popular>
</div>

<!-- TOP RATED -->
<div class="title my-4">
    <h3>Top Rated</h3>
</div>
<div>
    <app-top-rated></app-top-rated>
</div>

<!-- UPCOMING -->
<div class="title my-4">
    <h3>Upcoming</h3>
</div>
<div class="mar-bot">
    <app-upcoming></app-upcoming>
</div>