<div class="container-login">
    <div class="wrapper">
        <div class="form-box register">
            <h2>Contattaci</h2>
            <form>
                <div class="input-box">
                    <span class="icon"><i class="bi bi-person-fill"></i></span>
                    <input type="text" id="firstname" name="firstname" formControlName="firstname">
                    <label for="firstname">Nome</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="bi bi-person-fill"></i></span>
                    <input type="text" id="lastname" name="lastname" formControlName="lastname">
                    <label for="lastname">Cognome</label>
                </div>
                <div  class="input-box">
                    <span class="icon"><i class="bi bi-envelope-fill"></i></span>
                    <input type="email" id="email" name="email" formControlName="email">
                    <label for="email">Email</label>
                </div>
                <div  class="input-box">
                    <span class="icon"><i class="bi bi-telephone-fill"></i></span>
                    <input type="text" id="number" name="number" formControlName="number">
                    <label for="number">Telefono</label>
                </div>
                <div  class="input-box-text">
                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Scrivi qui!"></textarea>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Accetto i termini e le condizioni</label>
                </div>
                <button type="button" class="btn-submit">Invia</button>
            </form>
        </div>
    </div>
</div>
