<p-carousel [value]="mediaService.upcoming" [numVisible]="5" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
    <ng-template let-upcoming pTemplate="item">
        <div class="m-2 text-center py-2 px-3 modal-show">
            <div class="mb-3">
                <img src="http://image.tmdb.org/t/p/original{{upcoming.backdrop_path}}" [alt]="upcoming.title" class="w-6 card-img-top movie-poster" (click)="goToDetails(upcoming)"/>
            </div>
            <div class="modal">
                <div class="mask">
                    <img src="http://image.tmdb.org/t/p/original{{upcoming.poster_path}}" [alt]="upcoming.title" class="modal-poster" (click)="goToDetails(upcoming)">
                </div>
                <div class="modal-details">
                    <div class="movie-title">
                        <span>{{upcoming.title}}</span>
                    </div>
                    <div class="movie-details">
                        <p>Data di uscita: <br>{{upcoming.release_date}}</p>
                        <p>Voto: {{upcoming.vote_average}}</p>
                    </div>
                </div>
                
            </div>

        </div>
    </ng-template>
</p-carousel>
