@import "./src/utilities/variables";
// --------- START SCSS PROJECT --------------------

.btn-more {
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 500;
    transition: .5s;
    border: 2px solid $orange-crayola;
    color: $orange-crayola;
    margin-top: 30px;
    margin-bottom: 50px;

    &:hover {
        background: $orange-crayola-rgba;
        color: #fff;
    }
}
