<header class="header">
    <a [routerLink]="['/dashboard']" class="logo-link"><img src="../../../assets/logo.png" alt="Lab TV" class="logotype"></a>
    <i class="bi bi-list" id="menu-icon" (click)="showMenu()"></i>
    <nav class="navbar" [ngClass]="activeClass ? 'active' : ''">
        <div>
            <a class="nav-link" [routerLink]="['/dash-no-login']" *ngIf="!isAuthenticated">Home</a>
            <a class="nav-link" [routerLink]="['/dashboard']" *ngIf="isAuthenticated">Home</a>
        </div>
        <a class="nav-link" (click)="goToSearch()">Cerca</a>
        <a class="nav-link" [routerLink]="['/contact']">Contatti</a>
        <div>
            <a class="nav-link" [routerLink]="['/restricted-area']" *ngIf="!isAuthenticated">Area Riservata</a>
            <a class="nav-link" [routerLink]="['/restricted-area']" *ngIf="isAuthenticated">{{authService.username | titlecase}}</a>
        </div>
        <div>
            <i class="bi bi-person-circle" *ngIf="isAuthenticated"></i>
        </div>
        <div>
            <button class="btn-log" [routerLink]="['/login']" *ngIf="!isAuthenticated">Login</button>
            <button class="btn-log" (click)="logout()" *ngIf="isAuthenticated">Logout</button>
        </div>
    </nav>
</header>
