<div class="media-full-container">
    <button type="button" class="back" (click)="backToHome()"><i class="bi bi-arrow-left"></i></button>
    <div class="media-container">
        <div class="mask-media-container">
            <div class="container-media-frame">
                <div class="media-container-frame">
                    <iframe width="1280" height="720" [src]="mediaDetailsService.sanitizeUrl(videoKey)" title="{{media?.title}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
            <div class="media-details">
                <div class="py-4 title-btn">
                    <h3 style="line-height: 1.4;">{{media?.title}}</h3>
                    <button type="button" class="btn-buy" (click)="buyMovie(media)"><i class="bi bi-cart"></i></button>
                </div>
                <span class="py-4">• {{media?.release_date}} • {{media?.runtime}} min</span>
                <span class="py-4">{{media.overview}}</span> 
                <div class="py-4">
                    <span>Director: </span>
                    <span> • {{director}} </span>
                </div>
                <div class="py-4">
                    <span class="">Cast:</span><br>
                    <span  *ngFor="let c of cast"> • {{c.name}} </span>
                </div>
                <div class="py-4">
                    <span class="">Generi:</span><br>
                    <span *ngFor="let genre of genres" > • {{genre}}</span>
                </div>
            </div>
            <p-carousel [value]="similarMedia" [numVisible]="5" [numScroll]="1" [circular]="true" [responsiveOptions]="responsiveOptions" [showIndicators]="false">
                <ng-template let-similarMedia pTemplate="item">
                    <div class="m-4">
                        <div class="mb-3 mh-50">
                            <img src="http://image.tmdb.org/t/p/original{{similarMedia.poster_path}}" onerror="this.src='../../assets/placeholder-error-vert.png'" [alt]="similarMedia.title" class="h-100 card-img-top movie-poster" (click)="goToDetails(similarMedia)"/>
                        </div>
                    </div>
                </ng-template>
            </p-carousel>
        </div>
    </div>
</div>



