<div class="container-login">
    <div class="wrapper" [ngClass]="changeForm ? 'active' : ''">
        <span class="icon-close">
            <i class="bi bi-x"></i>
        </span>
        <div class="form-box login" *ngIf="!changeForm" [@inOutForms]>
            <h2>Login</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate=""
            autocomplete="off">
                <div class="input-box">
                    <span class="icon"><i class="bi bi-envelope-fill"></i></span>
                    <input id="email" type="email" name="email" value="" autofocus
                    formControlName="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-box">
                    <span class="icon"><i class="bi bi-lock-fill"></i></span>
                    <input id="password" type="password" name="password"
                    formControlName="password">
                    <label for="password">Password</label>
                </div>
                <div class="remember-forgot">
                    <label for="remember">
                        <input type="checkbox"> Ricordami</label>
                    <a href="#">Password dimenticata?</a>
                </div>
                <button type="submit" class="btn-submit" [disabled]="!loginForm.valid">Login</button>
                <div class="login-register">
                    <p>Non hai un account? <a class="register-link" (click)="toggleForm()">Registrati</a></p>
                </div>
            </form>
        </div>

                <!-- REGISTER START -->

        <div class="form-box register" *ngIf="changeForm" [@inOutForms]>
            <h2>Registrazione</h2>
            <form [formGroup]="registerForm" (ngSubmit)="signUp(registerForm)">
                <div class="input-box">
                    <span class="icon"><i class="bi bi-person-fill"></i></span>
                    <input type="text" id="firstname" name="firstname" formControlName="firstname">
                    <label for="firstname">Nome</label>
                </div>
                <div  class="input-box">
                    <span class="icon"><i class="bi bi-person-fill"></i></span>
                    <input type="text"id="lastname" name="lastname" formControlName="lastname">
                    <label for="lastname">Cognome</label>
                </div>
                <div  class="input-box">
                    <span class="icon"><i class="bi bi-envelope-fill"></i></span>
                    <input type="email" id="email" name="email" formControlName="email">
                    <label for="email">Email</label>
                </div>
                <div  class="input-box">
                    <span class="icon"><i class="bi bi-lock-fill"></i></span>
                    <input type="password" id="password" name="password" formControlName="password">
                    <label for="password">Password</label>
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox"> Accetto i termini e le condizioni</label>
                </div>
                <button type="submit" class="btn-submit">Register</button>
                <div class="login-register">
                    <p>Hai già un account? <a class="login-link" (click)="toggleForm()">Login</a></p>
                </div>
            </form>
        </div>
        
    </div>
</div>

<!-- 
    
    https://medium.com/ngconf/animating-angulars-ngif-and-ngfor-32a6ff26ed2d 
    https://stackblitz.com/edit/primenghoverissue-ltrlhl?file=src%2Fapp%2Fapp.component.ts
-->
