@import "./src/utilities/variables";
// --------- START SCSS PROJECT --------------------

.modal-show {
    position: relative;

    .movie-poster {
        border-radius: 10px;
    
        &:hover {
            box-shadow: 0px 0px 2px 2px $orange-crayola;
        }
    }

    .modal {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: transparent;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        border: 2px solid $orange-crayola-rgba;
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .mask {
            -webkit-mask-image: linear-gradient(90deg, black, transparent);
            mask-image: linear-gradient(90deg, black, transparent);

            .modal-poster {
                height: 100%;
            }
        }

        .modal-details {
            text-align: initial;
            width: 100%;
            padding: 0 0 10px 0;
            margin-top: 10px;
            margin-left: -40px;
            font-size: 1em;
            color: #fff;

            .movie-details {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                height: 100%;

                .movie-title {
                    position: relative;
                    font-weight: 400;
                    margin-bottom: 10px;
    
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -6px;
                        width: 100%;
                        height: 2px;
                        background: #fff;
                        border-radius: 5px;
                    }

                p {
                    margin: 0;
                }
            }
        }
            }

    }

    &:hover {

        .modal {
            display: flex;
        }
    }
}



